td {
    border: 2px solid white;
    padding: 5px;
}

th {
    border: 2px solid white;
    padding-bottom: 20px;
}

body {
    font-family: Arial;
    background-image: url("dirt.png");
    color: black;
}

.building {
    background-image: url("stone_bricks.png");
    background-size: 50px;
}

.decoration {
    background-image: url("bookshelf.png");
    background-size: 50px;
}

.transportation {
    background-image: url("rails.png");
    background-size: 50px;
}

.redstone {
    background-image: url("redstone.png");
    background-size: 50px;
}

.food {
    background-image: url("hay.png");
    background-size: 50px;
}

.tools {
    background-image: url("ironblock.png");
    background-size: 50px;
}

.combat {
    background-image: url("table.png");
    background-size: 80px;
}

.brewing {
    background-image: url("brewing.png");
    background-size: 40px;
}

.materials {
    background-image: url("emerald.png");
    background-size: 50px;
}

.misc {
    background-image: url("end_crystal.png");
    background-size: 60px;
}

div {
    margin: 20px;
    background-color: #C6C6C6;
    padding: 20px;
    border-radius: 5px;
}

a {
    color: black;
}

h1  {
    color: white;
}

img {
    padding-right: 5px;
}

.blank {
border: none;
}